<extend name="Common:common" />
<!-- 标题 -->
<block name="title">
    <title>管理中心 - 新增权限</title>
</block>
<!-- 具体操作 -->
<block name="action">
    <span id="search_id"> - 新增权限</span>
</block>
<block name="main">
    <div class="main-div">
        <form name="main_form" method="POST" action="__SELF__" enctype="multipart/form-data">
            <p>上级权限：<select name="parent_id">
                    <option value="0">顶级权限</option>
                    <?php foreach($parenpata as $k => $v): ?>
                    <?php endforeach; ?>
                </select>
            </p>
            <p class="label">权限名称：<input type="text" name="auth_name" value="" /></p>
            <p class="label">模块名称：<input type="text" name="module_name" value="" /></p>
            <p class="label">控制器名称：<input type="text" name="controller_name" value="" /></p>
            <p class="label">方法名称：<input type="text" name="action_name" value="" /></p>
            <p class="label">上级权限的ID，0：代表顶级权限：<input type="text" name="pid" value="0" /></p>
            <input type="submit" class="button" value="确定" />
        </form>
    </div>
</block>